#logo {
    width: 3rem;
    height: 3rem;
}

header,
nav,
header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul#nav-item {
    gap: 1rem;
}

header {
    height: 10vh;
    padding: 0 2rem;
    justify-content: space-between;
    background: var(--background-darker);
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.informations{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informations span{
    color: var(--black);
}

@media (max-width: 530px) {
    nav ul {
        display: none;
    }
}