:root {
    --body: #faf9f9;

    --white: #fff;
    --black: #202020;
    --grey-white: #dadada;
    --grey-black: #505050;

    --background: #c7afdf;
    --background-010: #ac90c9;

    --primary: #b18ad8;
    --primary-010: #9f7cc2;

    --scrollbar: #78608f;

    --secondary: #2E52AF;

    --card-background: #c3a1e560;
    --card-background-secondary: #d4d4d460;
}

* {
    font-family: 'roboto', 'lexend', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
}

body {
    background-image: url("../src/image/background-A.png");
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

a:hover {
    color: var(--grey-black);
}

ul {
    list-style-type: none;
}

h1,
h2 {
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 100px;
    border: 0.1rem solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-010);
}

.btn {
    padding: 10px;
    background: var(--primary);
    border-radius: 20px;
}

.btn:hover {
    background: var(--primary-010);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1200px) {
    * {
        font-size: 16px;
    }
}

@media (max-width: 530px) {
    * {
        font-size: 14px;
    }
}